parameters:
    leapt_elastica.indexes: []
    leapt_elastica.config: []

services:
    leapt_elastica.service:
        class: Leapt\ElasticaBundle\Service
        arguments: [@leapt_elastica.client, %leapt_elastica.namespace%]
        calls:
            - [setContainer, [ @service_container ]]
            - [setIndexes, [ %leapt_elastica.indexes% ]]
    leapt_elastica.client:
        class: Leapt\ElasticaBundle\Client
        arguments: [%leapt_elastica.config%]
    leapt_elastica.subscriber:
        class: Leapt\ElasticaBundle\Listener\IndexSubscriber
        arguments: [@leapt_elastica.service]
        tags:
            - { name: doctrine.event_subscriber }